
@font-face {
  font-family: 'Dimitri';
  src: url('Dimitri.eot?#iefix') format('embedded-opentype'),  url('Dimitri.woff') format('woff'), url('Dimitri.ttf')  format('truetype'), url('Dimitri.svg#Dimitri') format('svg');
  font-weight: normal;
  font-style: normal;
}
