
<footer>
	<div class="content">
		<!--<p>@2014. Ranas Rojas Producciones</p>-->
		<div class="linksfooter">
			<a href="#"><img class="wow fadeInLeft" data-wow-delay="2.4s" src="<?= base_url("assets/img/footer1.png") ?>" alt="Youtube"></a>
			<a href="#"><img class="wow fadeInLeft" data-wow-delay="2.6s" src="<?= base_url("assets/img/footer2.png") ?>" alt="Soundcloud"></a>
			<a href="#"><img class="wow fadeInLeft" data-wow-delay="2.8s" src="<?= base_url("assets/img/footer3.png") ?>" alt="Facebook"></a>
		</div>
		<div class="mediaplayer wow fadeInRight" data-wow-delay="2.8s"></div>
	</div>
</footer>

<script type="text/javascript" src="<?php echo base_url("assets/js/jquery.js") ?>"></script>
<script type="text/javascript" src="<?php echo base_url("assets/js/jquery-ui.js") ?>"></script>
<script type="text/javascript" src="<?php echo base_url("assets/js/wow.min.js") ?>"></script>
<script type="text/javascript" src="<?php echo base_url("assets/js/bootstrap.min.js") ?>"></script>
<script type="text/javascript" src="<?php echo base_url("assets/js/fancybox.js") ?>"></script>
<script type="text/javascript" src="<?php echo base_url("assets/js/jquery.flexslider.js") ?>"></script>
<script type="text/javascript" src="<?php echo base_url("assets/js/jquery.scrolly.js") ?>"></script>
<script type="text/javascript" src="<?php echo base_url("assets/js/modernizr.js") ?>"></script>
<script type="text/javascript" src="<?php echo base_url("assets/js/jquery.hoverdir.js") ?>"></script>
<script type="text/javascript" src="<?php echo base_url("assets/js/jquery.animsition.min.js") ?>"></script>
<script type="text/javascript" src="<?php echo base_url("assets/js/jquery-clockpicker.min.js") ?>"></script>
<script type="text/javascript" src="<?php echo base_url("assets/js/funciones.js") ?>"></script>

</body>
</html>